*{
    margin: 0;
    padding: 0;
}

.uk-navbar-container{
    background-color: #5B9279 !important;
}

.uk-navbar-container li, a{
    color: #F4F4F9 !important;
}

.uk-navbar-container a:hover{
    color: #FFEE93 !important;
}

.uk-offcanvas-bar{
    background-color : #5B9279 !important;
}

.uk-offcanvas-bar a{
    color: #F4F4F9 !important;
}

.uk-offcanvas-bar a:hover{
    color: #FFEE93 !important;
}

.uk-alert-close:hover{
    color: #5B9279 !important;
}

.text-black{
    color: black !important;
}